.App {
  background: #E3E3FB;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  
}
.App .background-stripe{
  background: #6363CE;
  height: 85%;
  width: 40%;
  position: relative;
  
}
.App h3{
  margin: 0;
}

.App .card{
  background: white;
  padding: 70px 60px;   
  border-radius:.8rem;
  box-shadow:0 0 10px 0 #00000000;
  z-index: 10;
  position: absolute;
}

.App .card .card-header{
  text-align:center;
  margin-bottom: 50px;
}
.App .card .card-header h3{
  text-align:center;
  margin-bottom: 25px;
}
.App .card .card-header a {
  font-size:small;
  color:#6363CE
}

.App .card .pricing-card-group {
  display: flex;
}
.App .card .pricing-card-group .pricing-card{
  width: calc(30% - 2px);
  height: max-content;
  box-sizing: border-box;
  border: 1px solid #E3E3fb;
  border-radius: 6px;
  margin: 10px;
  padding: 40px 35px 30px 35px;
  display: inline-block;
  min-height: 350px;
  flex:1;
}

.App .card .pricing-card-group .pricing-card .pricing-card-title{
  font-size:1.5em;
}
.App .card .pricing-card-group .pricing-card .pricing-card-amount{
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}
.App .card .pricing-card-group .pricing-card .pricing-card-amount h1{
 margin-right: 10px;
 margin-bottom: 50px;
 font-size: xxx-large;
}

.App .card .pricing-card-group .pricing-card .submit-button{
 border: none;
 background:#6363CE;
 color: white;
 margin: 6px 0px;
 padding: 12px;
 border-radius:4px;
 width: 100%;
 
}

.body-text{
  font-size:small;
  color:#222223;
}